body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(240, 223, 221);
}

nav{
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    background-color: rgb(92, 114, 187);
}

nav div{
    margin-left: 2rem;
}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

a:hover{
    color: gold;
}

body div{
    margin-left: 2rem;
}